right-menu {
    position: absolute;
    width: 180px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(var(--primary-color), 0.3), -1px -1px 10px rgba(var(--primary-color), 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
    animation-duration: 500ms;
    animation-fill-mode: both;
    overflow: hidden;

    &.menu--show {
        opacity: 1;
        visibility: visible;
        animation-name: ShowMenu;
    }

    &.menu--hide {
        opacity: 1;
        visibility: visible;
        animation-name: HideMenu;
    }

    button {
        width: 100%;
        line-height: 40px;
        text-align: start;
        text-indent: 10px;
        background: initial;
        border: initial;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: 100ms ease-in-out;

        &:hover {
            color: #fff;
            background-color: rgba(var(--primary-color), 0.8);
            box-shadow: 1px 1px 10px rgba(var(--primary-color), 0.3), -1px -1px 10px rgba(var(--primary-color), 0.3);
        }
    }
}

@keyframes ShowMenu {
    from {
        opacity: 0;
        visibility: visible;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes HideMenu {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 20px, 0);
    }
}
